pip
pycodestyle
setuptools
scikit-image
pillow
opencv-python
beautifulsoup4
nose
openpyxl
selenium==3.141.0
pytest-html>=1.19.0
requests>=2.19.1
urllib3==1.24.1
jsondiff
pandas==0.24.1
ipdb==0.11
flake8==3.7.4
pytest>=4.0.2
xlrd>=0.9.0
-e .
