import scrapy
from scrapy.contrib.linkextractors.sgml import SgmlLinkExtractor
from scrapy.contrib.spiders import CrawlSpider, Rule
from scrapy.item import Item, Field
import csv
from urlparse import urlparse
import scrapy

class Spider(scrapy.Spider):
    name = "URLScraper"
    # This is a spider to crawl the URLs
    url = "{0}"
    start_urls = []
    start_urls.append(url)
    allowed_domains = []
    allowed_domains.append(urlparse(url).netloc)
    rules = (Rule(SgmlLinkExtractor(), callback='parse', follow=False),)
    list2 = []
    list3=[]
    def parse(self, response):
        list1=[str(res.extract()) for res in response.xpath('//a/@href')
                if str(res.extract()).startswith('http:')]
        for url in response.xpath('//a/@href'):
            Spider.list2.append(
                          str(url.extract()))
            yield url.extract()
        for URLtoHit in set(Spider.list2):
            next_link_to_hit=response.urljoin(URLtoHit)
            if(next_link_to_hit not in set(Spider.list3)):
                yield scrapy.Request(url=next_link_to_hit,callback=self.parse)
            Spider.list3.append(next_link_to_hit)
        with open("Result.csv", "wb") as f:
            writer = csv.writer(f)
            writer.writerows(set(Spider.list2))
        outF = open("Result.txt", "w")
        for line in set(Spider.list2):
            # write line to output file
            outF.write(line)
            outF.write("\n")
        outF.close()
